.elective__full-description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 24px;

    border: 1px solid black;
    border-radius: 12px;
}

.elective__full-description.dark {
    border-color: white;
}

.elective__title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 48px;
}

.elective__title-review {
    font-weight: 700;
    font-size: 18px;
}

.full-description__main {
    border-right: 1px solid black;
}

.full-description__main.dark {
    border-color: white;
}

.full-description__title {
    margin-right: 12px;
}

.full-description__other {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 12px;
}

.description__author {
    display: flex;
    flex-direction: column;
}

.description__author-name {
    font-weight: 700;
    font-size: 20px;
}

.description-name {
    font-weight: 700;
}

.description__tags {
    display: flex;
    align-items: center;
    gap: 12px;
}

.description__minor {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 8px;

    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;

    color: white;
    font-size: 14px;
}

.card__minor {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;

    padding: 8px;

    background-color: black;
    border: 1px solid black;

    color: white;
    font-size: 12px;
}

.card__minor span {
    font-weight: 700;
    margin-right: 8px;
}

.card__minor.dark {
    background-color: white;
    color: black;
}

.reviews__title {
    margin-top: 48px;
    margin-bottom: 16px;

    font-weight: bold;
    font-size: 48px;
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 24px;
    margin-bottom: 48px;

    border: 1px solid black;
    border-radius: 16px;
}

.reviews.dark {
    border-color: white;
}

.review {
    display: flex;
    flex-direction: column;

    gap: 12px;
}

.review__heading {
    display: flex;
}

.review__author {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-top: 10px;
    width: 100%;
}

.review__author-title {
    flex: 1 0 auto;
}

.review__author-title-text {
    margin-bottom: 16px;

    font-weight: 700;
}

.review__author-bottom {
    display: flex;
    flex-shrink: 0;
}

.review__author-bottom:after {
    content: '';
    display: block;
    flex: 1 0 auto;
    border-bottom: 1px solid;
    margin-left: -1px;
}

.review__author-line {
    flex: 0 0 18px;
    height: 18px;
    position: relative;
    border-left: 1px solid;
    border-top-left-radius: 1px;
    overflow: hidden;
}

.review__author-line:after {
    content: '';
    display: block;
    position: absolute;
    left: -31%;
    top: 50%;
    width: 30px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top: 1px solid;
}

@media (max-width: 767px) {
    .elective__full-description {
        display: grid;
        grid-template-columns: 1fr;
    }

    .full-description__main {
        border-right: none;
        border-bottom: 1px solid black;
    }

    .review__author-description {
        font-size: 12px;
    }

    .elective__title-review {
        font-weight: 700;
        font-size: 14px;
    }
}

