.profile {
    display: flex;
    gap: 12px;
}

.user-logo {
    width: 60px;
    height: 60px;

    background-image: url('../../public/assets/icons/user.svg');
    background-color: transparent;
    border: 0;

    cursor: pointer;
}

.logout {
    width: 60px;
    height: 60px;

    background-image: url('../../public/assets/icons/logout.svg');
    background-color: transparent;
    border: 0;

    cursor: pointer;
}

@media screen and (max-width: 786px) {
    .profile {
        display: flex;
        justify-content: center;
        gap: 24px;
    }
}
